<section class="secao">
  <h2 class="titulo">Lista de Favoritos</h2>
  <table class="tabela">
    <!-- <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Nome</th>
      <th class="tabela__cabecalho__conteudo">URL</th>
    </thead> -->
    <tbody *ngIf="!!favoritos; else listaVazia">
      <tr class="tabela__linha" *ngFor="let pokemon of favoritos">
        <td class="tabela__conteudo">
          <img src="{{pokemon.sprites.front_default}}">
        </td>
        <td class="tabela__conteudo">{{ pokemon.name }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #listaVazia>
    <p>Nenhuma pokemon carregado</p>
  </ng-template>
</section>
